<head>
    <title>Bork University</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
</head>
<body>
  <div class="container">
    <h1>Bork University Registrar</h1>
    <h2>Add New Course</h2>

    <form action="/Courses/Success" method="post">
      <label for="newname">Course Name</label>
      <input name="newname" type="text" class="form-control">
      <label for="newcode">Course Code</label>
      <input name="newcode" type="text" class="form-control">
      <button class="btn btn-success" type="submit">Submit</button>
    </form>

    <p><a href="/Courses">Back</a></p>
    <p><a href="/">Home</a></p>
  </div>
</body>
